<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <h1>Backup</h1>
    
    <header></header>

    <section></section>

    <footer></footer>


    <script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js" ></script>
    <script type="text/javascript">
      $(document).ready(function(){
        
        
      });
    </script>
  </body>
</html>