<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title[15] %></h1>
    <p>Test <%= title[19] %></p>
  </body>
</html>
